html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #f7f7f7;
  color: #666;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: .9rem;
  font-weight: normal;
}

/* --- メインコンテナ (.note-container) の設定 --- */
.note-container {
  max-width: 55rem;
  margin: 0;
  padding: 1.75rem;
}

/* モバイル対応 */
@media (max-width: 400px) {
  .note-container {
    padding: 1rem;
  }
}

/* --- 記事表示時の共通要素 (Markdown変換後) --- */
.note-container h1,
.note-container h2,
.note-container h3,
.note-container h4 { color: #666; margin-block-start: 0rem; margin-block-end: 0rem; }

.note-container h1 { font-size: 1.8rem; font-weight: bold; margin: 0.5rem 0; }
.note-container h2 { font-size: 1.4rem; font-weight: bold; margin: 0.5rem 0; }
.note-container h3 { font-size: 1.2rem; font-weight: bold; margin: 0.5rem 0; }
.note-container h4 { font-size: 0.9rem; font-weight: normal; margin: 0.375rem 0; }

.note-container hr {
  border: none;
  border-top: 1px dashed #999;
}
.note-container p {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding-block-start: 0.375rem;
  padding-block-end: 0.375rem;
}
.note-container blockquote {
  border-left: 4px solid #999;
  background-color: #eaeaea;
  padding: .5rem .5rem .5rem .75rem;
  margin: 1rem 0;
}
.note-container blockquote p {
  margin: 0;
  padding: 0;
}
.note-container table {
    border-collapse: collapse;
    border: none;
    font-size: 0.9rem;
}
.note-container thead {
    border-bottom: 3px double #999;
}
.note-container thead th {
    border-bottom: 1px solid #999;
}
.note-container th,
.note-container td {
    border: 1px solid #999;
    padding: 0.6rem 0.8rem;
    text-align: left;
}

/* --- 記事表示時のリスト設定 (Markdown変換後の ul, ol) --- */
.note-container ul,
.note-container ol {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

/* 記事本文中の li */
.note-container li {
  padding-left: 0.375rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding-block-start: 0.375rem;
  padding-block-end: 0.375rem;
}

/* li のリストマーカーを「・」に設定 */
.note-container li::before {
  content: "・";
}

/* --- リンク設定 (記事本文中のリンクを基本スタイルにする) --- */
.note-container a {
  color: #66b3ff;
  text-decoration: none;
  font-weight: bold;
}
.note-container a:hover {
  text-decoration: underline;
}

/* --- 記事メタ情報 (記事表示時にのみ使用) --- */
.note-title {
  margin-bottom: 1rem;
}
.note-meta {
  font-size: .8rem;
  color: #999;
  margin-bottom: 1.5rem;
}

/* --- クエリがないとき (リスト表示時) のスタイル --- */
/* JSで生成される .note-container 直下の ul の中の a をターゲット */
.note-container > ul a {
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: #07c;
}
.note-list {
  list-style: none;
  padding: 0;
}
.note-list li {
  margin-bottom: .25rem;
}
.note-list a {
  font-weight: normal;
  color: #07c;
}
.note-list a:hover {
  text-decoration: underline;
}