html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0.5rem 0;        /* 上下にパディング */
    max-width: 56rem;         /* 最大幅の指定（中央配置と併用） */
    min-height: 100vh;        /* 少なくともビューポートの高さは確保 */
    display: flex;            /* Flexboxコンテナに */
    flex-direction: column;   /* 要素を縦に並べる */
    align-items: flex-start;  /* Flexboxアイテムを左寄せにする */

    /* 2. 背景と色 */
    background-color: #f7f7f7;
    color: #666;

    /* 3. フォント */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
}

/* ノートコンテナ: コンテンツの表示エリア */
.note-container {
    width: 100%;
    max-width: 55rem;
    margin: 0 ;
    padding: 1.75rem;
    box-sizing: border-box;
    flex-grow: 1;
    text-align: left;
}

@media (max-width: 400px) {
  .note-container {
    padding: 1rem;
  }
}

.note-container a {
  color: #66b3ff;
  text-decoration: none;
  font-weight: bold;
}

.note-container a:hover {
  color: #66b3ff;
  text-decoration: underline;
  font-weight: bold;
}

/* タイトル、メタ情報、コンテンツ */
.note-title {
    margin-bottom: 1rem;
}

.note-meta {
    font-size: 0.8rem;
    color: #999;
    margin-bottom: 1.5rem;
}

/* 見出し */
.note-container h1,
.note-container h2,
.note-container h3,
.note-container h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #666;
}

/* 本文が 0.9rem を基準 */
.note-container h1 {
    font-size: 1.8rem;   /* 約2倍、ページタイトル */
    font-weight: 600;
}

.note-container h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.note-container h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.note-container h4 {
    font-size: 1.0rem;
    font-weight: normal;
}

/* 段落 */
.note-container p {
    margin-bottom: 1.2em;
}

/* リスト（本文内） */
.note-container ul,
.note-container ol {
    margin: 1em 0;
}

/* 区切り線 (hr) のスタイル */
.note-container hr {
  border: none;
  border-top: 1px dashed #999;
}

/* リスト（目次など） */
.note-list {
    list-style: none;
    padding: 0;
}

.note-list li {
    margin-bottom: 0.75rem;
}

.note-list a {
    text-decoration: none;
    color: #66b3ff;
    font-weight: bold;
}

.note-list a:hover {
    text-decoration: underline;
}

/* 引用 */
.note-container blockquote {
    border-left: 4px solid #999;
    background-color: #eaeaea;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
    margin: 1rem 0;
}

.note-container blockquote p {
  margin:0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.note-container li {
  list-style-type: none;
  padding-left: 1em;
}

.note-container li::before {
  content: "・";
}

li a {
  text-decoration: none;
  color: #666;
  font-weight: normal;
}

li a:hover {
  color: #0077cc;
  text-decoration: underline;
}